<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Rob Pickering</h4>
            <p>{{@blog.description}} <a href="/about" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>
    {{/is}}
    
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Upcoming Events</h4>
        <p>I do a lot of speaking engagements for ServiceNow, here is where you can find me:</p>
        <ol>
            <li><a href="http://www.hmgstrategy.com/events/home.asp?eventID=129">HMG 2016 CIO Executive Leadership Summit: 17 Nov, Huntington Beach, CA</a></li>
            <li><a href="http://www.evanta.com/cio/summits/washington-dc/">Evanta CIO Executive Summit: 29 Nov, Washington D.C.</a></li>
            <li><a href="http://www.evanta.com/cio/summits/new-jersey">Evanta CIO Executive Summit: 30 Nov, New Jersey</a></li>
        </ol>
    </div>

<!--    
    <div class="widget sidebar-featured ad">
      <div id="ad1" class="panel" data-type="ad" data-publisher="lqm.robpickering.site" data-zone="ron" data-format="300x250"></div>
    </div>
-->
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Top Reads</h4>
        {{#get "posts" limit="all" filter="featured:true"}}
            <ul>
            {{#foreach posts}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
            </ul>
        {{else}}
            {{#if @error}}{{@error}}{{/if}}
        {{/get}}
    </div>
<!--     
    <div class="widget sidebar-featured ad">
      <div id="ad2" class="panel" data-type="ad" data-publisher="lqm.robpickering.site" data-zone="ron" data-format="160x600"></div>
    </div>
-->
</div>
